main{
    width: 100%;
    height: 4000px;
    
    header{
        height: 100%;
        background-image: url(../../../images/header-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}