@font-face {
    font-family: Iran-Sans-Light;
    src: url(../../../font/IRANSansX-Light.woff2);
}
@font-face {
    font-family: Iran-Sans-Regular;
    src: url(../../../font/IRANSansX-Regular.woff2);
}
@font-face {
    font-family: Iran-Sans-Medium;
    src: url(../../../font/IRANSansX-Medium.woff2);
}

@font-face {
    font-family: Iran-Sans-Bold;
    src: url(../../../font/IRANSansX-Bold.woff2);
}
@font-face {
    font-family: Iran-Sans-Black;
    src: url(../../../font/IRANSansX-Black.woff2);
}

body{
    direction: rtl;
    font-family: Iran-Sans-Medium;
}